@media (max-width: 1256px){
    
    .conteiner  {
        max-width: 768px;
        margin: 0 auto;
    }

    .menu__navigation, .menu__button_hidden{
        display: none;
    }   

    .menu__logo {
        margin: 0;
        text-align: right;
        font-weight: 400;
        font-size: 11px;
        line-height: 15px;
    }
    
    .menu__number{
        order: 3;
        margin: 0;
        text-align: left;
        font-size: 11px;
        line-height: 15px;
        color: #FFFFFF;

    }

    .conteiner__content{
        display: grid;
        grid-template-columns: 339px;
        grid-template-rows: 94px 94px 94px;
        justify-content: center;
    }

    .sectionOne{
        padding: 85px 18px;
        max-height: 476px;
        display: flex;
        align-items: center;
        padding: 0;
    }

    .conteiner__title, .conteiner__title span{
        min-width: 339px;
        max-height: 60px;
        font-weight: 400;
        font-size: 23px;
        line-height: 132.83%;
        justify-self: center;
    }

    .conteiner__subTitle{
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        line-height: 135.84%;
        min-width: 339px;
    }

    .conteiner__button{
        width: 100%;
        margin: 0;
    }
    .button__main_visible{
        margin: 26px 0 0;
    }
    .conteiner__button_desktop{
        display: none;;
    }
    .conteiner__button_mobile{
        display: inline;
    }
}
@media(max-width: 1256px) {

    .conteiner__block{
        display: flex;
        justify-content: center;
        min-height: 720px;
        padding: 0;
    }

    .conteiner__about{
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr;
        min-height: 700px;
        max-width: 340px;
        margin: 0;
        padding: 0;
    }
    .conteiner__head{
        display: none;
    }
    .conteiner__blockRow{
        display: none;
    }
    .conteiner__blockTitle, .conteiner__blockSubtitle{
        text-align: center;
    }
    .conteiner__blockMobileImg{
        background-image: url(../img/mobail1.png);
        background-position: center;
        background-repeat: no-repeat;
        min-width: 340px;
        min-height: 241px;
    }
    .conteiner__blockMobileImg{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 14px;
    }
    .button__mobile_side{
        background: #E3B873;
        background-image: url(../img/Vector\ \(Stroke\).svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: 7px 10px;
        border: none;
        border-radius: 50%;
        min-height: 36px;
        min-width: 36px;
    }
    .button__mobile_side:last-child{
        transform: scale(-1, 1);
    }
    .conteiner__blockLocation{
        display: grid;
        justify-content: center;
        row-gap: 24px;
        margin: 0;
        max-width: 341px;
    }
    .conteiner__blockTitle{
        font-size: 22px;
        line-height: 138.6%;
        font-weight: 600;
        letter-spacing: -0.07em;
        margin-top: 36px;
    }
    .conteiner__blockSubtitle{
        padding: 0;
        font-weight: 400;
        font-size: 11px;
        line-height: 158.48%;
    }
    .sectionTwo{
        min-height: 0;
    }
}
@media(max-width: 1256px){
    
    .conteiner__mbSecThree{
        max-width: none;
        max-height: 100%;
        background-color: #131313;
    }
    .conteiner__control{
        margin: 0;
    }
    .conteiner__titleIII{
        margin-top: 58px;
        font-size: 22px;
    }
    .conteiner__video{
        background-size: cover;
        min-width: 340px;
        min-height: 207px
    }
    .conteiner__logoCameraImgCircle{
        min-width: 37px;
        min-height: 37px;

    }
    .conteiner__logoCameraImg{
        min-width: 12px;
        min-height: 12px;
        background-image: url(../img/playMobile.svg);
        background-repeat: no-repeat;
        background-position: right;
        background-size: 12px 12px;
    }
    .conteiner__lineImg{
        margin: 28px auto 0;
    }
    .conteiner__text{
        margin-top: 22px;
    }
    .conteiner__textAbout{
        font-size: 11px;
        line-height: 169.8%;
        text-align: center;
        color: #FFFFFF;
        max-width: 340px;
    }
    .conteiner__bloke{
        margin-top: 60px;
    }
    .conteiner__form{
        display: grid;
        justify-content: left;
        min-width: 340px;
    }
    .conteiner__formName{
        order: 1;
    }
    .conteiner__formPhone{
        order: 1;
        margin-top: 63px;
    }
    .conteiner__buttonForm{
        order: 3;
        min-width: 100%;
        margin-top: 63px;
        margin-bottom: -25px;
    }
    .conteiner__checkbox{
        order: 2;
        justify-content: start;
        margin-top: 28px;
    }
    .conteiner__formTitle{
        font-size: 13px;
        line-height: 21px;
        color: rgba(255, 255, 255, 0.5);
    }
    .conteiner__input{
        min-width: 340px;
        background: none;
        border-bottom: 1px solid #FFFFFF;
        color: #FFFFFF;
    }
    .conteiner__input::placeholder {
        font-size: 14px;
        line-height: 138.72%;
        color: #FFFFFF;
    }
    .conteiner__textCheck{
        font-size: 14px;
        line-height: 163.68%;
        color: #FFFFFF;
    }
    .conteiner__repairTitleTopHead{
        font-size: 22px;
        line-height: 138.6%;
        margin-top: 58px;
    }
    .conteiner__repairBloke{
        display: grid;
        row-gap: 79px;
        margin-top: 40px;
    }
    .conteiner__blokeItem{
        min-width: 340px;
        max-height: none;
        background-size: contain;
        justify-content: flex-start;
    }
    .conteiner__blokeItemOne{
        margin-top: 223px;
    }
    .conteiner__blokeItemTwo{
        max-width: 270px;
        max-height: 241px;
    }
    .conteiner__blokeItemHead{
        font-size: 15px;
    }
    .conteiner__blokeItemButton{
        font-size: 15px;
        min-width: 190px;
        min-height: 40px;
    }
}
@media(max-width: 1256px) {
    .sectionFor{
        display: none;
    }
}
@media(max-width: 1256px) {
    .sectionFive{
        background-image: none;
        display: grid;
        min-height: 173px;
        margin-top: 55px;
    }
    .conteiner__overlayMb{
        visibility: hidden;
    }
    .conteiner__blokeFiveAllRightList, .conteiner__blokeFiveAllLeftListUl{
        display: none;
    }
    .conteiner__blokeFiveAll{
        display: grid;
        grid-template-columns: 1fr;
        align-items: start;
        min-height: 173px;
    }
}
@media(max-width: 1256px){
    .sectionSix, .sectionSity{
        display: none;
    }
}
@media(max-width: 1256px){
    .sectionSeven{
        background-image: none;
        background-color: #131313;
        align-items: center;
        grid-template-rows: repeat(3, 1fr);
        grid-template-columns: 1fr;
        max-height: 1195px;
        min-width: 340px;
        margin-top: -121px;
    }
    .conteiner__sectionSevenCub{
        order: 1;
        margin: 173px 0 0;
        min-height: 546px;
        min-width: 340px;
    }
    .conteiner__sectionSevenCubForm{
        display: block;
        min-width: 340px;
        min-height: 648px;
    }
    .conteiner__locationMap{
        order: 2;
        min-height: 255px;
        min-width: 340px;
        margin-top: 50px;
        background-size: cover;
    }
    .conteiner__sectionSevenLocation{
        order: 3;
        margin: 0;
        grid-template-rows: 1fr 28px;
    }
    .conteiner__sectionSevenLocationAdres{
        max-width: 310px;
        max-height: 70px;
        font-size: 18px;
        line-height: 138.6%;
        text-align: center;
    }
    .conteiner__sectionSevenLocationIcons{
        grid-template-columns: repeat(2, 39px);
        column-gap: 20px;
    }
    .conteiner__sectionSevenLocationIconsLeft, .conteiner__sectionSevenLocationIconsRight{
        min-width: 39px;
        min-height: 39px;
    }
    .conteiner__sectionSevenLocationIconsLeft{
        background-size: 19px 16px;
    }
    .conteiner__sectionSevenLocationIconsRight{
        background-size: 16px 16px;
    }
    .conteiner__overlayMbSeven{
        visibility: hidden;
    }
    .conteiner__sectionSevenSubButton{
        min-width: 100%;
        margin-top: 67px;
    }
    .sectionSeven__cub_form-bloke{
        margin-top: 63px;
    }
    .conteiner__sectionSevenCubFormBlokeName{
        margin-top: 52px;
    }
    .grid-checkbox{
        margin-top: 21px;
    }
}
@media(max-width: 1256px){
    .menu_hidden {
        display: none;
    }
}